@font-face {
    font-family:'generalsans';
    src: url(GeneralSans-Regular.woff);
}
*{
    font-family: 'generalsans';
    color: #fff;
}

html,body{
   
    background-color:black;    
}
#circle{
    width: 15px;
    height: 15px;  
    position: absolute;
    background-color: #b21807;
    background-blend-mode: luminosity;
    border-radius: 50%;
    z-index: 99999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
    transition-duration: .8s;
}

#main{
    width: 100%;
    
}
#home{
   
    height: 100vh;
    width: 100%;
    color: #fff;
}

#nav a{
    color: #fff;
    font-size: .9vw;
    opacity: .8;
}
#nav{
        
    display: flex;
    color: #fff;
    padding: 20px 80px;
    align-items: center;
    justify-content: space-between;
}
#nav h2{
    font-size: .8vw;
}
#heading{
    padding: 120px 40px;
}
#heading h1{
    
    display: inline;
    font-size: 10vw;
    opacity: .6; 
    margin-left: 40px;
    font-weight: 900;
    line-height: .9;
    animation: fade-in;
    animation-duration: 2s;
    animation-timing-function:ease-out;
}
@keyframes fade-in
{
    from {
      opacity: .0;
      font-size: 10.5vw;
     
    }
    to{
        opacity: .6;
    }
}
#heading #secondh1{
    margin-left: 16vw; 
    
}
.block{
    width: fit-content;

}
.block h5{
text-transform: uppercase;
text-align: right;
line-height: .1vw;
font-size: 1vw;
}
#homefooter h3{
    padding-top: 150px;
    text-align: center;
    font-size: 12px;
    width: 100%;
    position: absolute;
    bottom: 23px;
}
#homefooter {
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}
#homefooter #img{
   position: absolute;
   bottom: 15px;
    
}
#second{
   
    padding-left: 1.5vw;
    padding-top: 200px;
    
    width: 80%;
    height: 100vh;

}
.element1{
    width: 100%;
    padding:3vw;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    font-size: 58px;
    font-weight:900;
   
}
.element2{
    width: 100%;
    padding: 3vw;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    font-size: 58px;
    font-weight:900;
   
}
.element3{
    width: 100%;
    padding:3vw;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    font-size: 58px;
    font-weight:900;
   
}